@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
/* *******************************************VARIABLE */
:root {
  --primary: hsl(215, 51%, 70%);
  --secondary: hsl(178, 100%, 50%);
  --white: hsl(0, 0%, 100%);
  --line: hsl(215, 32%, 27%);
  --card-bg: hsl(216, 50%, 16%);
  --main-bg: hsl(217, 54%, 11%);
  --fs-300: 16px;
  --fs-400: 18px;
  --fs-600: 22px;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --radius: 15px;
  --transition: all 0.3s ease-in-out;
}
/* *******************************************RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--white);
  transition: var(--transition);
}
/* *******************************************TYPOGRAPHY */
body {
  font-family: "Outfit", sans-serif;
  font-size: var(--fs-400);
  color: var(--primary);
  letter-spacing: 0.5px;
}
.card-text h1 {
  color: var(--white);
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
}
.card-text {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
}
.card-nft span {
  color: var(--secondary);
}
.card-nft p {
  font-size: var(--fs-300);
  font-weight: var(--fw-300);
}
.card-creation {
  font-size: var(--fs-300);
  font-weight: var(--fw-300);
}
/* *******************************************DESKTOP */
main {
  min-height: 100vh;
  background-color: var(--main-bg);
  display: grid;
  grid: 1fr / 1fr;
  place-items: center;
}
.card {
  width: 350px;
  background-color: var(--card-bg);
  padding: 1.3rem;
  border-radius: var(--radius);
  box-shadow: -1px -1px 7px 20px #070e1826;
}
.card-img {
  position: relative;
  cursor: pointer;
}
.img-main {
  width: 100%;
  border-radius: var(--radius);
}
.img-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 6px);
  border-radius: var(--radius);
  background-color: hsla(178, 100%, 50%, 0.4);
  opacity: 0;
  transition: var(--transition);
}
.img-view {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card-text h1 {
  padding-block: 1rem;
}
.card-nft {
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem;
}
hr {
  border: none;
  height: 1px;
  background-color: var(--line);
}
.card-creation {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.card-creation img {
  width: 15%;
  margin-right: 0.8rem;
  border-radius: 25px;
  border: 1px solid var(--white);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* *******************************************HOVER */
.active:hover {
  color: var(--secondary);
}
.img-overlay:hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 6px);
  border-radius: var(--radius);
  background-color: hsla(178, 100%, 50%, 0.4);
  opacity: 1;
}
/* *******************************************RESPONSIVE */
@media screen and (max-width: 400px) {
  .card {
    width: 280px;
    padding: 0.8rem;
  }
}
